@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap');
body { font-family: 'Plus Jakarta Sans', sans-serif; scroll-behavior: smooth; }
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: #dc2626; border-radius: 10px; }
.hidden { display: none; }
button:active { transform: scale(0.96); transition: 0.1s; }
.animate-fade-in { animation: fadeIn 0.6s ease-out; }
@keyframes fadeIn { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }